# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.local
.env.*

# Build Outputs
dist/
build/
out/

# User Uploads (Keep the folder, ignore the content)
BACKEND/uploads/*
!BACKEND/uploads/.gitkeep
FRONTEND/public/temp/

# Logs and System Files
*.log
.DS_Store
Thumbs.db
coverage/