# --- DEPENDENCIES ---
node_modules/


# --- ENVIRONMENT VARIABLES  ---
.env
.env.local
.env.*
!.env.example

# --- BUILD OUTPUTS ---
dist/
dist-ssr/
build/
out/

# --- BACKEND SPECIFIC ---
BACKEND/uploads/*
!BACKEND/uploads/.gitkeep
logs/
*.log

# --- PLAYWRIGHT / E2E TESTS ---
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# --- IDE / EDITOR SETTINGS ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln